@@ -1,35 +0,0 @@
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*logs/
.mvn
*.data
*.redo
*.log
lock

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.run/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Known Credential Files ###
*credentials.json
*.db